*!docker-compose.yml!Gym-Spring-Boot/!EurikaServer/!TrainingMicroservice/Gym-Spring-Boot/target/TrainingMicroservice/target/Gym-Spring-Boot/.idea/TrainingMicroservice/.idea/EurikaServer/target/EurikaServer/.idea/